<div class= "card mb-4">
    <div class="card-body">
        <h5 class="card-title">
            <a href=""></a>
        </h5>
        <p class="card-text">{{ property.surface }} m² -{{ property.city }} ({{ property.postalcode }})</p>

        <div class="text-primary" style = "font-size:2rem; font-weight: bold;">
            {{ property.FormattedPrice }} €
        </div>
    </div>

</div>